

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --blue-color: #00ACDC;

}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
  height: 70px; 
  padding: 0 50px; 
  background-color: white; 
}
header:hover {
  border: 2px solid #00ACDC; 
}

.header-logo img {
  width: 50px;
  height: 50px;
  display: block;
}


nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 25px; /
}



.nav-link {
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 0;
  text-decoration: none;
  color: black;
  position: relative;
  display: block;
  height: 15px;
  padding: 0;
  text-align: center;
}


.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 2px;
  background-color: var(--blue-color);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
}


.nav-link.is-active::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 2px;
  background-color: var(--blue-color);
}


.nav-link:hover {
  color: var(--blue-color);
}
