
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue-color: #00ACDC;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}


header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px; 
  padding-left: 50px; 
}

.header-logo {
  margin-right: 30px; 
}
.header-logo img {
  width: 40px;
  height: 40px;
  display: block;
}


nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-item {
  margin-right: 20px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 0;
  text-decoration: none;
  color: black;
  position: relative;
  display: block;
  height: 15px;
  padding: 0;
  text-align: center;
}

.nav-link.is-active::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 2px;
  background-color: var(--blue-color);
}

.nav-link:hover {
  color: var(--blue-color);
}
